
body{
  max-width: 1440px;
  margin: auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 50px 96px;
  
}

.header__links-list{
  display: flex;
  gap: 32px;
  list-style: circle;
}



.header__links-list-item_no-bullit{
  list-style: none;
  
}

.header__link{
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-underline-position: under;
}

.header__link-active{
  text-decoration: none;
}

.header__logo {
display: block;
}

.header__logo-image{
  width: 148px;
  height: 105px;
  margin-right: 150px;
}

.address{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.address a{
  text-underline-position: under;
}

.cover{
  position: relative;
  display: flex;
  justify-content: center;
  height: 757px;
  background-color: #000000;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.cover__title{
  position: absolute;
  top: 165px;
  right: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1440px;
}

.alligned-text{
  display: flex;
  justify-content: flex-start;
  max-height: 100px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center{
  display: flex;
  justify-content: center;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  
  text-transform: uppercase;
}

.aligned-text_right{
  display: flex;
  justify-content: flex-end;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.no-letter-spacing{
  letter-spacing: 0;
}

.letter-spacing-extended{
  letter-spacing: 60px;
}

.cover__description{
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 78px;

}

.cover__description-text{
    color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 127.273%; 
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button{
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots{
  display: flex;
  flex-direction: column;
  margin: 180px 50px 0 50px;
}

.lots__heading{
  margin: 0 0 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 100%;
  list-style: none;
}

.lots__card-list-item{
  flex-grow: 1;
}

.card{
  position: relative;
  display: block;
  width: 430px;
  height: 450px;
  background-size: contain;
}

.card_type_film{
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book{
  background-image: url(/images/card-lot-02.jpg);

}

.card_type_picture{
  background-image: url(/images/card-lot-03.jpg);
  

}

.card__title{
  position: absolute;
  inset: 50px 40px;
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text{
  position: absolute;
  right: 40px;
  bottom: 50px;
  left: 40px;
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link{
  display: flex;
  margin: 30px 0 0 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about{
  display: flex;
  margin: 182px 50px 0 50px;
  margin-top: 181px;
}

.about__column{
  display: flex;
  
  gap: 25px;
}

.about__logo{
  display: flex;
  justify-content: center;
  max-width: 430px;
  height: 240px;
  padding: 0 95px;
}

.about__logo-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image img{
  width: 148px;
  background-size: contain;
}

.about__title{
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
}

.about__title-up{
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text{
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 356px;
  margin: 180px 50px 90px;
}

.footer__list{
  text-align: center;
  list-style: none;
}


.footer__menu-link{
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;}

.footer__menu-link-active{
  text-decoration: none;
}

.footer__social-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}


.footer__social-icon{
  max-width: 48px;
  max-height: 48px;
}